/*better indentation and alignment needed*/
*
{
    margin:0;
    padding:0;

  }

  body
    {
     background-color:maroon;
    }

 .wrapper
  {
  width:960px;
  margin:0 auto;
  display:block;
  margin-top:20px;
  height:auto;
  }

 .header
  {
  font-size:50px;
  float:left;
  color:green;
  display:block;
  height:100px;
  width:960px;
  text-align:center;
  background-color:	#DCDCDC;
  }

 .gallery
  {
  float:left;
  display:block;
  width:960px;
  height:auto;


  }
  .gallery ul
  	{
    	list-style:none;

 	}

  .gallery ul li a
  {

  }



 .footer
  {
  	float:left;
  	display:block;
  	width:960px;
  	height:50px;
  	text-align:center;
    background-color:	#DCDCDC;
  }


  .pics
  {
  	float:left;
   	width:200px;
  	height:150px;
  	margin:40px;
  	box-shadow: 10px 10px 5px #888;
  }

.pics:hover
  {
  	margin:40px;
  	box-shadow: 10px 10px 5px #888;
  }

.pics:hover
  {
  	transform: rotate(-5deg);
  	-ms-transform: rotate(-5deg) scale(2); /* IE 9 */
		-webkit-transform: rotate(-5deg) scale(2); /* Safari and Chrome */
		-o-transform: rotate(-5deg) scale(3); /* Opera */
		-moz-transform: rotate(-5deg) scale(3); /* Firefox */
  }

#comment
  {
  display:block;
  margin:0 0 0 0;
  }

p
  {
   margin:15px 0 0 0;
  }
